# Docker
/docker/docker-compose.env
/docker/.home-developer

# Composer
/vendor

# PHP CS
.php_cs.cache

src/Bundle/ProfileBundle/Features/Fixtures/app/logs/*
src/Bundle/ProfileBundle/Features/Fixtures/app/cache/*