{% extends '@MMCProfileBundle/Profile/associate.html.twig' %}

{% block body %}
    <div class="container">
        {{ parent() }}
        <hr style="border:solid 3px black">
        <h1 class="text-center alert alert-danger">Version de test</h1>
        <div class="container">
            <h1 class="text-center">Associer le profil {{ userProfile.profile.uuid }}</h1>
            {% for user in users %}
                <a href="{{ path('profile_bundle_associate_profile', {'username': user.username, 'uuid': userProfile.profile.uuid }) }}">
                    <div class="col-lg-6 col-lg-offset-3 thumbnail text-center alert alert-info">
                        <p>{{ user.username }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
